<?xml version="1.0" encoding="ISO-8859-1"?>
<configuration>
<!--  RUP artifacts -->
<artifact>
	<type>Vision</type>
	<ini>DV</ini>
	<ae>
		<vision>VisionDocument</vision>
		<desc>artifact/vision</desc>
	</ae>
</artifact>
<artifact>
	<type>UseCaseSpecification</type>
	<ini>ECU</ini>
	<ae>
		<vision>UseCaseSpecificationDocument</vision>
		<desc>artifact/useCase</desc>
	</ae>
</artifact>
<artifact>
	<type>BusinessRuleSpecification</type>
	<ini>RNG</ini>
	<ae>
		<vision>BusinessRuleSpecificationDocument</vision>
		<desc>artifact/businessRule</desc>
	</ae>
</artifact>
<artifact>
	<type>TestCaseSpecification</type>
	<ini>CT</ini>
	<ae>
		<vision>TestCaseSpecificationDocument</vision>
		<desc>artifact/testCase</desc>
	</ae>
</artifact>
<artifact>
	<type>Code</type>
	<ini>CODE</ini>
	<ae>
		<vision>Code</vision>
		<desc>artifact/code</desc>
	</ae>
</artifact>
<!--  end RUP artifacts -->
<!--  MPS artifacts -->
<artifact>
	<type>UC</type>
	<ini>FOMENTO_UCT_</ini>
	<ae>
		<vision>RequirementSpecificationDocument</vision>
		<desc>requirement/aeRequirement</desc>
	</ae>
</artifact>

<artifact>
	<type>REQ</type>
	<ini>FOMENTO_REQ_ListaRequisitos</ini>
	<ae>
		<vision>SubSystemSpecificationDocument</vision>
		<desc>requirement/aeSubSystem</desc>
	</ae>
</artifact>
<artifact>
	<type>REQ</type>
	<ini>FOMENTO_REQ_ListaEspec</ini>
	<ae>
		<vision>SubSystemSpecificationDocument</vision>
		<desc>requirement/aeSubSystem</desc>
	</ae>
</artifact>
<artifact>
	<type>REQ</type>
	<ini>FOMENTO_REQ_EspecRequisitos</ini>
	<ae>
		<vision>SubSystemSpecificationDocument</vision>
		<desc>requirement/aeSubSystem</desc>
	</ae>
</artifact>
<!-- end MPS artifacts -->

<artifact>
	<type>MODEL</type>
	<ini>FOMENTO_MODEL_</ini>
	<ae>
		<vision>ActorDocument</vision>
		<desc>model/XMIActorAE</desc>
	</ae>
	<ae>
		<vision>DataTypeDocument</vision>
		<desc>model/XMIDataTypeAE</desc>
	</ae>
	<ae>
		<vision>UseCaseDocument</vision>
		<desc>model/XMIUseCaseAE</desc>
	</ae>
	<ae>
		<vision>ClassDocument</vision>
		<desc>model/XMIClassAE</desc>
	</ae>
	<ae>
		<vision>AssociationDocument</vision>
		<desc>model/XMIAssociationAE</desc>
	</ae>
	<ae>
		<vision>GeneralizationDocument</vision>
		<desc>model/XMIGeneralizationAE</desc>
	</ae>
	<ae>
		<vision>IncludeDocument</vision>
		<desc>model/XMIIncludeAE</desc>
	</ae>
	<ae>
		<vision>ExtendDocument</vision>
		<desc>model/XMIExtendAE</desc>
	</ae>
</artifact>


<badDir>
CVS
</badDir>

</configuration>